form {
    width: 375px;
    height: 552px;
    background: url("images/form-bg.png");
    background-size: 100%;
    float: inherit;
    margin-top: 225px;
    margin-left: 550px;
}

input {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    background-color: #1d1b1c;
    color: #a38e8e;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    background: url("images/background.png");
    background-size: 100%;
}

a {
    float: right;
}

.dark_side {
    background: url("images/kylo.png") center;
    width: 1132px;
    height: 850px;
}

.order {
    font-family: Ubuntu, sans-serif;
    color: white;
    margin-left: 35px;
    display: none;
    position: fixed;
}

.order:target {
    display: block;
    pointer-events: auto;
}

.tit {
    padding-top: 24px;
    height: 60px;
    text-align: center;
    font-size: 20.5px;
    color: #d53017;
}

.name {
    height: 80px;
    font-size: 16px;
    margin-left: 35px;
}

.email {
    height: 80px;
    font-size: 16px;
    margin-left: 35px;
    margin-top: 20px;
}

.phone {
    height: 80px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 35px;
}

.wish {
    height: 60px;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 10px;
}
.button {
    padding-left: 110px;
    /*padding-bottom: 60px;*/
}

.separ {
    border-top: 1px solid #a38e8e;
    margin-left: 2px;
}

.check {
    background-color: #1d1b1c;
    color: #d53017;
}
